body {
    background-color: lightgray;
}

.container {
   padding: 20, 0, 20, 0;
   box-sizing: border-box;
   width: 960px;
}

#head {
   padding-bottom: 40px;
   background-color: lightgray;
   color: white;
}

span {
  background: rgb(112, 204, 204);
  padding: 20px;
  margin-left: 140px;
  border-radius: 3px;
}

footer {
  background: rgb(61, 60, 60);
  height: 60px;
  text-align: center;
}

h2 {
    color: rgb(95, 180, 180);
}

.line {
    background-color: rgb(44, 141, 141); height: 10px; border: 0; 
}

.para {
    padding-bottom: 80px;
}

.nav-link {
    color: rgb(177, 174, 174);
}

.bg-white {
    background-color: #fff;
}

.navbar {
    color: white;
}