body {
    background-color: lightgray;
}


.wrapper {
   background-color: white;
   width: 960px;
   margin: auto;
   height: 550px;
}

.container {
   padding-top: 20px;
   box-sizing: border-box;
}

#head {
   padding-bottom: 40px;
   background-color: lightgray;
   color: white;
}

span {
  background: rgb(112, 204, 204);
  color: white;
  padding: 20px;
  margin-left: 20px;
  border-radius: 3px;
}

footer {
  background: rgb(61, 60, 60);
  height: 60px;
  text-align: center;
}

h2 {
    color: rgb(112, 204, 204);
}

.line {
    background-color: rgb(44, 141, 141); height: 10px; border: 0; 
}

.para {
    padding-bottom: 80px;
}